@model ADS.LAPEM.Web.Areas.Catalogo.Models.EspecificacionViewModel

@using (Html.BeginForm("Delete", "Especificacion", FormMethod.Post, new { id = "frmEspecificacion" }))
{ 
    <p>
        Se eliminarán del sistema los datos de la especificación "@Model.Especificacion.Id.ToString()".
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.Especificacion.Id)</p>
}