@model ADS.LAPEM.Web.Areas.Catalogo.Models.TipoProductoViewModel

@using (Html.BeginForm("Delete", "TipoProducto", FormMethod.Post, new { id = "frmTipoPrueba" }))
{ 
    <p>
        Se eliminará el Tipo de Producto "@Model.TipoProducto.Nombre" del Sistema.
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.TipoProducto.Id)</p>
}