@model ADS.LAPEM.Web.Areas.Catalogo.Models.ProductoViewModel

@using (Html.BeginForm("Delete", "Producto", FormMethod.Post, new { id = "frmProducto" }))
{ 
    <p>
        Se eliminará el producto "@Model.Producto.Nombre" del Sistema.
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.Producto.Id)</p>
}