@model ADS.LAPEM.Web.Areas.Catalogo.Models.TipoPruebaViewModel

@using (Html.BeginForm("Delete", "TipoPrueba", FormMethod.Post, new { id = "frmTipoPrueba" }))
{ 
    <p>
        Se eliminará el Tipo de Prueba "@Model.TipoPrueba.Nombre" del Sistema.
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.TipoPrueba.Id)</p>
}