@model ADS.LAPEM.Web.Areas.Catalogo.Models.TipoPruebaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/ads/catalogo")

<div class="wrapper">
		<div class="tituloSeccion">
			ABC Tipos Pruebas
		</div>
		<div class="lineaVerde">
		</div>
		
</div>	

<br />

<table border="1">
        <tr>
            <td>
                Filtro Búsqueda:
            </td>
        </tr>
        <tr>
            <td>
                <table id="busqueda">
                    <tr>
                        <td>                    
                            @Html.Label("Nombre Tipo de Prueba: ")
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.TipoPrueba.Nombre, new { data_rules_field = "Nombre", data_rules_op = "cn", data_search = true, @class = "input100" })
                        </td>
                    </tr>  
                    <tr>
                        <td colspan="2">&nbsp;</td>        
                    </tr>  
                    <tr>
                        <td>                               
                            <input type="button" id="btnConsulta" value="Consultar" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />                           
                        </td>
                        <td>
                            <input type="button" id="btnNew" value="Nuevo" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
                        </td>
                    </tr>
                  </table>
            </td>
        </tr>
    </table>

<div style="width:500px; padding-left:300px">
    <table id="grid"></table>
    <div id="pager"></div>
</div>

<div id="dlg" title="Tipo Prueba"></div>


<script type="text/javascript">
    $(document).ready(function () {
        ADS.Catalogo.Init();
        ADS.Catalogo.TipoPrueba.Init();
    });
</script>
