@{
    ViewBag.Title = "Index";
}
<<<<<<< HEAD
@model ADS.LAPEM.Web.Models.HomeViewModel
=======

>>>>>>> 58c87e7609558d5341d0ac8a0308524b3e0dcaf0
<h2></h2>

<div class="wrapperAterrizaje">
		<div id="comillasIn">
		</div>
		<div class="tituloAterrizaje">
<<<<<<< HEAD
			BIENVENIDO (A) @Model.Nombre
=======
			BIENVENIDO (A)
>>>>>>> 58c87e7609558d5341d0ac8a0308524b3e0dcaf0
		</div>
		<div id="comillasOut">
		</div>
		<div class="cuerpoTexto">
			<p>Somos una empresa responsable. Es por esto, que fabricamos <br>nuestros productos, cumpliendo normas y especificaciones a nivel nacional <br>e internacional siempre aplicando las tecnologías más avanzadas.</p>
		</div>
		<div id= "imgAterrizaje">
		</div>
</div>	






