@{
    ViewBag.Title = "Index";
}
@model ADS.LAPEM.Web.Models.HomeViewModel
<h2></h2>

<div class="wrapperAterrizaje">
		<div id="comillasIn">
		</div>
		<div class="tituloAterrizaje">
			BIENVENIDO (A) @Model.Nombre
		</div>
		<div id="comillasOut">
		</div>
		<div class="cuerpoTexto">
			<p>Somos una empresa responsable. Es por esto, que fabricamos <br>nuestros productos, cumpliendo normas y especificaciones a nivel nacional <br>e internacional siempre aplicando las tecnologías más avanzadas.</p>
		</div>
		<div id= "imgAterrizaje">
		</div>
</div>	






