@model ADS.LAPEM.Web.Areas.Catalogo.Models.LineaViewModel

@using (Html.BeginForm("Delete", "Linea", FormMethod.Post, new { id = "frmLinea" }))
{ 
    <p>
        Se eliminará la Linea "@Model.Linea.Nombre" del Sistema.
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.Linea.Id)</p>
}