@model ADS.LAPEM.Web.Areas.Seguridad.Models.AccountViewModel

@using (Html.BeginForm("LoginFail", "Account", FormMethod.Post, new { id = "frmAccount" }))

{ 
    <p>
        Los datos son incorrectos. Favor de intentarlo nuevamente.
    </p>
}