@model ADS.LAPEM.Web.Areas.Catalogo.Models.NormaEnsayoViewModel

@using (Html.BeginForm("Delete", "NormaEnsayo", FormMethod.Post, new { id = "frmNormaEnsayo" }))
{ 
    <p>
        Se eliminará la siguiente norma del Sistema "@Model.NormaEnsayo.Nombre".
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.NormaEnsayo.Id)</p>
}