@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/ads/consulta")

<div class="wrapper">
		<div class="tituloSeccion">
			Consulta Log
		</div>
		<div class="lineaVerde">
		</div>
		
</div>	
<br />

<div style="width:500px; padding-left:300px">
        <table id="grid"></table>
        
        <div id="pager"></div>
    </div>
    <div id="dlg" title="Detalle del Aviso">
        <table id="gridDetalle"></table>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        ADS.Consulta.Init();
        ADS.Consulta.Log.Init();
    });
</script>
