@model ADS.LAPEM.Web.Areas.Catalogo.Models.SiloViewModel

@using (Html.BeginForm("Delete", "Silo", FormMethod.Post, new { id = "frmSilo" }))
{ 
    <p>
        Se eliminará el Silo "@Model.Silo.NumSilo" del Sistema.
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.Silo.Id)</p>
}
