@model ADS.LAPEM.Web.Areas.Catalogo.Models.CalibracionViewModel

@using (Html.BeginForm("Delete", "Calibracion", FormMethod.Post, new { id = "frmCalibracion" }))
{ 
    <p>
        Se eliminarán del sistema los datos de la calibración "@Model.Calibracion.NoInformeCalib".
        ¿Desea Continuar?
    </p>
    <p>@Html.HiddenFor(x => x.Calibracion.Id)</p>
}