@model ADS.LAPEM.Web.Areas.Seguridad.Models.UsuarioViewModel

@using (Html.BeginForm("Delete", "Usuario", FormMethod.Post, new { id = "frmUsuario" }))
{
    <p>
        Se eliminará al usuario "@Model.Usuario.Nombre" del Sistema.
        ¿Desea continuar?
    </p>
    <p>@Html.HiddenFor(x => x.Usuario.Id)</p>
}
