@model ADS.LAPEM.Web.Areas.Seguridad.Models.UsuarioViewModel

@{
    ViewBag.Title = "Create";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/ads/seguridad")

<br />

<div>
    @{ Html.RenderPartial("_Form", Model); }
</div>

<div id="dlgAviso" title="Usuario">
    <span id="Mensaje"></span>
</div>

<input type="button" id="btnCreate" value="Guardar" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
<input type="button" id="btnCancelar" value="Cancelar" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />

<script type="text/javascript">
    $(document).ready(function () {
        ADS.Seguridad.Init();
        ADS.Seguridad.Usuario.Init();
    });
</script>