@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/ads/catalogo")

<div class="wrapper">
		<div class="tituloSeccion">
			Ensayo-Equipo
		</div>
		<div class="lineaVerde">
		</div>		
</div>	
<br />

<div>
@*   <p><input type="button" id="btnNewAjax" value="Nuevo Ajax" /></p>*@
   <p><input type="button" id="btnNew" value="Nuevo" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" /></p>
</div>

<div style="width:1022px; padding-left:initial;margin-top:10px;">
    <table id="grid"></table>
    <div id="pager"></div>
</div>

<div id="dlg" title="Ensayo-Equipo"></div>


<script type="text/javascript">
    $(document).ready(function () {
        ADS.Catalogo.Init();
        ADS.Catalogo.EnsayoEquipo.Init();
    });
</script>